/* External CSS Stylesheet */

/* Styling for HTML elements */

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: center;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

body {
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 18px;
    line-height: 150%;
    background: #000021;
    font-family: Avenir;
}

/* Selecting elements by class */

.container {
    width: 1024px;
    margin: 0 auto;
    text-align: left;
}

.home-page .grid {
    padding-top: 13vh;
}

.grid {
    margin: 0 25px;
    margin: 0 2.5rem;
    width: auto;
    display: -ms-grid;
    display: grid;
}

.home-page__title {
    background-size: 200%;
    background-image: none;
    background-image: linear-gradient(45deg, #fff070 0%, #00c9d3 40%, #00c9d3 45%, #00c9d3 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: glow 9s linear infinite;
    animation: glow 9s linear infinite;
}

.home-page__title {
    font-size: 40px;
    font-size: 1.5rem;
    line-height: 50px;
    line-height: 5rem;
    margin-bottom: 30px;
    margin-bottom: 3rem;
}

.playfair {
    font-family: "Playfair Display", serif;
    font-weight: 600;
}

.topnav {
    background-color: #000021;
    overflow: hidden;
}

/* Style the links inside the navigation bar */

.topnav a {
    display: inline-block;
    color: #ffffff;
    text-align: right;
    padding: 7px 8px;
    font-size: 17px;
}

/* Change the color of links on hover */

.topnav a:hover {
    background-color: #8d74a6;
}

/* Add an active class to highlight the current page */

.active {
    background-color: #7f5491;
    color: #000000;
}

/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
    display: none;
}

nav {
    color: #380b8c;
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    line-height: 56px;
    position: center;
}

/* Selecting elements by ID */

#main-bio, #contact-info {
    float: center;
}

#logo {
    float: left;
    width: 250px;
    margin-top: 10px;
    margin-left: 20px;
    color: rgba(255, 255, 255, 1)
}

#main-bio {
    width: 70%;
}

hr {
    display: block;
    margin-top: 0em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 4px;
    border-color: #390574;
}

h4 {
    font-size: 10px;
    font-size: 3.2rem;
    line-height: 15px;
    line-height: 3.7rem;
    margin: 20px 0;
    margin: 2rem 0;
}

.container
{
  width: 50%;
  margin: 1rem auto;
}

#loginForm
{
  background: #000021;
  padding: 1rem;
}

#loginForm label
{
  display: block;
}

#loginForm input
{
  padding: 5px;
}
#loginForm input[type = text]
{
  width: 50%;
}
#loginForm #password
{
  width: 75%;
}

.button
{
  background: #eee;
  border: 1px solid #000021;
  cursor: pointer;
  padding: 6px !important;
}

.button:hover
{
  background: #000021;
}
</style>
